* {
    margin: 0;
}

#logo {
    width: 200px;

}

nav {
   display: flex;
   flex-direction: row;
   justify-content: space-between ;
   padding: 20px 60px;
   background-color: white;
   /* position: fixed;
   width: 100vw; */
}

#nav-links {
    display: flex;
    column-gap: 20px;
}

nav button {
background-color: white;
padding: 10px 20px;
height: fit-content;
border-color: rgb(68, 227, 255);
border-width: 2px;
border-style: solid;
}